<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hao.learn.person.dao.FunctionDao">

    <select id="queryFunction" resultType="long">
        SELECT
        `FUNCTION_ID`
        FROM `ROLE_FUNCTION`
        WHERE ROLE_ID = #{id}
    </select>

    <select id="queryFunctionName" resultType="String">
        SELECT
        `NAME`
        FROM `FUNCTION_INFO`
        WHERE ID = #{id}
    </select>

    <!---->
    <select id="queryAllFunction" resultType="org.hao.learn.person.domain.FunctionInfo">
        SELECT *
        FROM `FUNCTION_INFO`
    </select>

    <select id="queryFunctionByRole" resultType="org.hao.learn.person.domain.RoleFunction">
        SELECT *
        FROM `ROLE_FUNCTION`
        WHERE ROLE_ID IN
        <foreach collection="roles" separator="," open="(" close=")" item="role">
            #{role.id}
        </foreach>
    </select>
</mapper>