<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hao.learn.person.dao.RoleDao">

    <select id="queryUserRole" resultType="long">
        SELECT
        `ROLE_ID`
        FROM`USER_ROLE`
        WHERE USER_ID = #{id}
    </select>

    <select id="queryFunction" resultType="long">
        SELECT
        `FUNCTION_ID`
        FROM`ROLE_FUNCTION`
        WHERE ROLE_ID = #{id}
    </select>

    <select id="queryUserRoleByUserId" resultType="org.hao.learn.person.domain.UserRole">
        SELECT *
        FROM `USER_ROLE`
        WHERE USER_ID = #{userId}
    </select>

    <select id="queryRoleById" resultType="org.hao.learn.person.domain.RoleInfo">
        SELECT *
        FROM `ROLE_INFO`
        WHERE ID IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>