<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hao.learn.person.dao.UserReadDao">
    <sql id="columnNames">
        ID, FIRST_NAME, LAST_NAME, EMAIL, PHONE, LOGIN_NAME, LOGIN_PASSWORD, LAST_LOGIN_DATE, LAST_LOGIN_IP, STATUS
    </sql>
    <sql id="limit">
        LIMIT #{limit.size} OFFSET #{limit.offset}
    </sql>
    <sql id="where">
        <where>
            <foreach collection="sqlQueries" item="sqlQuery">
                <if test="sqlQuery.operator.toString() == 'EQ'">
                    AND ${sqlQuery.sqlName} = #{sqlQuery.value}
                </if>
                <if test="sqlQuery.operator.toString() == 'NEQ'">
                    AND ${sqlQuery.sqlName} &lt;&gt; #{sqlQuery.value}
                </if>
                <if test="sqlQuery.operator.toString() == 'IN'">
                    AND ${sqlQuery.sqlName} IN
                    <foreach collection="sqlQuery.multiValue" item="value" open="(" close=")" separator=",">
                        #{value}
                    </foreach>
                </if>
                <if test="sqlQuery.operator.toString() == 'LIKE'">
                    <bind name="_param1" value="'%' + sqlQuery.value + '%'"/>
                    AND ${sqlQuery.sqlName} LIKE #{_param1}
                </if>
                <if test="sqlQuery.operator.toString() == 'AND'">
                    AND (${sqlQuery.sqlName} &amp; #{sqlQuery.value} = #{sqlQuery.value})
                </if>
                <if test="sqlQuery.operator.toString() == 'BETWEEN'">
                    <!--X >= value and X <= value-->
                    <foreach collection="sqlQuery.multiValue" item="value" index="index">
                        <if test="index == 0">
                            AND ${sqlQuery.sqlName} &gt;= #{value}
                        </if>
                        <if test="index == 1">
                            AND ${sqlQuery.sqlName} &lt;= #{value}
                        </if>
                    </foreach>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="total">
        COUNT(*)
    </sql>

    <select id="queryById"
            parameterType="long"
            resultType="org.hao.learn.person.domain.UserInfo">
        SELECT ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE,LOGIN_NAME,LOGIN_PASSWORD,LAST_LOGIN_DATE,LAST_LOGIN_IP,STATUS
        FROM `USER_INFO`
        <where>
            ID = #{id}
        </where>
    </select>

    <select id="queryAll"
            parameterType="org.hao.learn.database.Limit"
            resultType="org.hao.learn.person.domain.UserInfo">
        SELECT ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE,LOGIN_NAME,LOGIN_PASSWORD,LAST_LOGIN_DATE,LAST_LOGIN_IP,STATUS
        FROM `USER_INFO`
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="queryBy" resultType="org.hao.learn.person.domain.UserInfo">
        SELECT
        <include refid="columnNames"/>
        FROM `USER_INFO`
        <include refid="where"/>
        <include refid="limit"/>
    </select>

    <select id="queryTotalBy" resultType="long">
        SELECT
        <include refid="total"/>
        FROM `USER_INFO`
        <include refid="where"/>
    </select>

    <select id="queryTotal" resultType="long">
        SELECT COUNT(*) FROM `USER_INFO`
    </select>

    <select id="queryUserRole" resultType="long">
        SELECT
        `ROLE_ID`
        FROM`USER_ROLE`
        WHERE USER_ID = #{id}
    </select>

    <select id="queryFunction" resultType="long">
        SELECT
        `FUNCTION_ID`
        FROM`ROLE_FUNCTION`
        WHERE ROLE_ID = #{id}
    </select>
</mapper>